
<style media="screen">
  #reviews{
    border-bottom: solid 1px rgb(92, 99, 97);
    border-bottom-width: 1px;
  }
</style>
<div class="reviews-container">
  <div class="side-categories">
    <ul>
      <li>cat 1</li>
      <li>cat 2</li>
      <li>cat 3</li>
    </ul>
  </div>
  <div class="index-reviews">
    <div class="review-card-container">
      <% @reviews.each do |review| %>
      <div class="card-review">
          <div class="img-data">
            <p class="datecreate"><%=review.created_at.to_time.strftime("%d.%b.%Y")%></p>
            <%= link_to image_tag(review.img.url(:thumb)), review_path(review)%>
            <h1><%= review.name%></h1>
            <p class="revyear">(<%=review.year%>)</p>
            <p class="revartist"><%= review.artist.name%></p>
            <p class="revautor">por: <%= review.author.name%></p>
          </div>
        <!--<div class="freq">
          freq svg
        </div>-->
      </div>
      <%end%>
    </div>
  </div>

</div>

<%= link_to 'New Review', new_review_path %>
<p id="notice"><%= notice %></p>
