<%= content_for :title, @review.name %>
<%= content_for :imagerev, @review.img.url(:normal) %>
<div class="review-container">
  <div class="disc-container">
    <div class="disc-card">
      <div class="img-rr">
        <div class="img-review">
          <%= image_tag(@review.img.url(:normal))%>
          <div class="data-disc">
            <p><%= @review.artist.name%></p>
            <p><%= @review.place %></p>
            <p>Fav Tracks:</p>
            <ul>
              <li><%= @review.fav1%></li>
              <li><%= @review.fav2%></li>
              <li><%= @review.fav3%></li>
            </ul>
          </div>
        </div>
        <div class="revfreq"><%= image_tag(@review.category.img.url(:normal))%></div>
      </div>
      <div class="title-review">
        <h1><%= @review.name%></h1>
        <p class="artist-name"><%= @review.artist.name%></p>
        <p class="topyear">(<%=@review.year%>)</p>
        <p class="autorrev">por: <%= @review.author.name%></p>
        <p class="daterev"><%=@review.date.to_time.strftime("%d.%b.%Y")%></p>
      </div>
    </div>
  </div>
  <div class="content-review">
    <div class="side-titles">
      <!--<ol>
        <li>Titulo1</li>
        <li>Titulo1</li>
        <li>Titulo1</li>
        <li>Titulo1</li>
      </ol>-->
    </div>
    <div class="review-body">
      <div class="review-text">
        <%= @review.body.html_safe%>
      </div>
    </div>

  </div>
</div>
<!--<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
<p id="notice"><%= notice %></p>-->
