<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :report_title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, id: :report_subtitle %>
  </div>
  <div class="field">
    <%= form.label :artist %>
    <%= form.select( :artist_id, Artist.all.collect {|p| [ p.name, p.id ] } )%>
  </div>
  <div class="field">
    <%= form.label :author %>
    <%= form.select( :author_id, Author.all.collect {|p| [ p.name, p.id ] } )%>
  </div>
  <div class="field">
        <%= form.label :imgcover %>
        <%= form.file_field :imgcover %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, id: :report_place %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :report_date %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.cktext_area :body, id: :report_body, ckeditor: { language: 'es'} %>
  </div>
  <div class="field">
    <%= form.label :cover %>
    <%= form.select(:cover,['TRUE', 'FALSE']) %>
  </div>
  <div class="field">
    <%= form.label :highlight %>
    <%= form.select(:highlight,['TRUE', 'FALSE']) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
