<style media="screen">
  #news{
    border-bottom: solid 1px rgb(92, 99, 97);
    border-bottom-width: 1px;
  }
</style>
<div class="highlights-container">
  <div class="highlight1">
    <%=image_tag(@headers.first.imgcover.url(:normal), class: "highlight")%>
    <div class="htext">
      <h1><%= link_to @headers.first.title, report_path(@headers.first)%></h1>
      <hr>
      <p><%= @headers.first.subtitle%></p>
    </div>

  </div>
  <%if @headers.count > 1%>
    <div class="subhighlights">
      <div class="subh1">
        <%=image_tag(@headers.second.imgcover.url(:normal), class: "highlight")%>
        <div class="htext">
          <h1><%= link_to @headers.second.title, report_path(@headers.second)%></h1>
          <hr>
          <p><%= @headers.second.subtitle%></p>
        </div>
      </div>
      <div class="subh2">
        <%=image_tag(@headers.last.imgcover.url(:normal), class: "highlight")%>
        <div class="htext">
          <h1><%= link_to @headers.last.title, report_path(@headers.last)%></h1>
          <hr>
          <p><%= @headers.last.subtitle%></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="index-reports">
  <div class="cardrow1">
    <% @reports.each do |report| %>

    <div class="card-report">
      <div class="img-card">
        <%= link_to  image_tag(report.imgcover.url(:thumb)), report_path(report)%>
      </div>
      <div class="text-card">
        <h1><%=link_to report.title, report_path(report) %></h1>
        <p><%= report.subtitle %></p>
        <div class="lugarcito"><%= report.place %> <%= report.date.to_time.strftime('%m.%d.%Y') %></div>
        <div class="author"><span>por <%= report.author.name %></span></div>
      </div>
    </div>
    <% end %>

  </div>

</div>
<!--<%= link_to "New Report", new_report_path%>-->
<p id="notice"><%= notice %></p>
