<p id="notice"><%= notice %></p>
<style media="screen">
  #news{
    border: solid 1px black;
  }
</style>
<div class="highlights-container">
  <div class="highlight">
    <div><%=@headers.first.place%></div>
    <%= image_tag(@headers.first.imgcover.url(:thumb), class: "img-highlight")%>
    <div class="author"><span>por Author</span></div>
    <h1><%=@headers.first.title%></h1>
    <p><%=@headers.first.subtitle%></p>
  </div>
  <div class="highlight">
    <h1><%=@headers.last.title%></h1>
    <p><%=@headers.last.subtitle%></p>
    <div><%=@headers.last.place%></div>
    <%= image_tag(@headers.last.imgcover.url(:thumb), class: "img-highlight")%>
    <div class="author"><span>por Author</span></div>

  </div>
</div>
<hr>
<div class="index-reports">
  <% @reports.each do |report| %>
    <div class="card-report">
      <div class="img-card">
        <%= image_tag(report.imgcover.url(:thumb))%>
      </div>
      <div class="text-card">
        <h1><%= report.title %></h1>
        <p><%= report.subtitle %></p>
        <div><%= report.place %> <%= report.date.to_time.strftime('%m.%d.%Y') %></div>
        <div class="author"><span>por Author</span></div>
      </div>
    </div>
    <% end %>
</div>
