<div class="nav-rest">
  <div class="logo">
    <%= link_to root_path do%>
    <li>NOMBRE<br>MAGAZINE</li>
    <% end %>
  </div>
  <ul>
    <%= link_to reports_path do%>
    <li id="news">NOTICIAS</li>
    <% end %>
    <%= link_to reviews_path do%>
    <li id="reviews">REVIEWS</li>
    <% end %>
    <%= link_to events_path do%>
    <li id="events">EVENTOS</li>
    <% end %>
    <%= link_to artists_path do%>
    <li id="artists">ARTISTAS</li>
    <% end %>
    <%= link_to videos_path do%>
    <li id="videos">MANO A MANO</li>
    <% end %>
  </ul>
</div>
