<div class="nav-rest">
  <div class="logo">
    <%= link_to  do%>
      <img src="https://s3.amazonaws.com/revista-production/app/logoAT.png" alt="">
    <% end %>
  </div>
  <ul>
    <%= link_to  do%>
    <li id="news">NOTICIAS</li>
    <% end %>
    <%= link_to do%>
    <li id="reviews">REVIEWS</li>
    <% end %>
    <%= link_to  do%>
    <li id="artists">ARTISTAS</li>
    <% end %>
    <%= link_to do%>
    <li id="videos">VIDEO</li>
    <% end %>
  </ul>
</div>
